@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  font-family: "Comfortaa", serif;
  height: 100%;
}
a{
  color: #023f81;
}
#page-title{
  text-align: center;
}
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  margin: 0 auto;
  min-height: 80vh;
}

#nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  width: 100%;
}

#select-date-section {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.calendar-container {
  text-align: center;
}

#calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;  
  margin: 20px auto;
}

#calendar-container div {
  padding: 10px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

#calendar-container .header {
  font-weight: bold;
  background-color: #616264;
  color: white;
}

#calendar-container .day {
  cursor: pointer;
}

#calendar-container .day:hover {
  background-color: #ddd;
}

.nav-buttons {
  margin: 10px;
}

#prev-month,
#next-month {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;  
  background-color: #023f81;
  color: white;
  border: none;
  border-radius: 5px;  
}

#prev-month:hover,
#next-month:hover {
  background-color: #034a96;
}

#months-select,
#year-input {
  padding: 7px 0 7px 5px;
  border: 1px solid #023f81;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 27%;
}

#submit-btn {
  padding: 10px;
  background-color: #0056b3;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #007bff;
}

#select-date-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
#commem-day-details-section{
  text-align: center;
}

#commem-day-details-section {
  text-align: center;
}

.commemorative-day {
  background-color: #ffc60b!important;
  font-weight: bold;
  border: 2px solid #ffc60b;
  cursor: pointer;
}

.commemorative-day:hover {
  background-color: #eca306!important;
}

#footer-container {
  text-align: center; 
  margin-top: 20px;  
}